Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  portability-*,
  misc-*,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -hicpp-*,
  -android-*,
  -cert-*,
  -zircon-*

WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
FormatStyle: none
